html{
    font-family: Helvetica;
    font-size: 12px;
}
.formulario
{
    padding: 25px;
    border: 10px solid gray;;
    border-radius: 5px;

}
.zonaArchivo{
    border: 2px dashed;
    border-radius: 5px;
    background: white;
    box-sizing: border-box;
    min-height: 150px;
    text-align: center;
    vertical-align: inherit;
}
